.social-networks a {
  padding: 0.25rem;
  color: var(--text-color);
  font-size: 2rem;
  text-decoration: none;
}

.social-networks a:hover {
  color: var(--primary-color);
}

.social-networks a:not(:last-of-type) {
  margin-right: 1.5rem;
}
.contact-section .content-wrapper {
  display: grid;
  gap: var(--block-spacing);
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .contact-section .content-wrapper {
    --max-width: 800px;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
}

.contact-section h4 {
  margin-bottom: 0.5rem;
}

.contact-section address {
  display: grid;
  gap: 1rem;
  font-style: normal;
}

@media screen and (min-width: 1024px) {
  .contact-section address {
    order: -1;
    gap: 2rem;
  }
}

.contact-item .jam {
  font-size: 1rem;
}

.map-ubication {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: var(--border-radius);
}
