section.ed-grid.s-grid-1.m-grid-3.rows-gap
    .s-ratio-4-3.img-container.circle
        img(src="https://www.swctf.org/media/1173/44170972572_3342c697cc_k.jpg" alt="")
    .s-ratio-4-3.img-container.circle
        img(src="https://www.informeconstruccion.com/informeconstruccion/fotos/notas/2019/08/06/6220_20190806150317.jpg")
    .s-ratio-4-3.img-container.circle
        img(src="https://www.arqhys.com/construccion/fotos/construccion/carpintero.jpg")
    div
        h2.s-center Recios como la madera
        p.s-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptas molestiae doloremque! Illum culpa obcaecati nobis rerum? Reprehenderit distinctio molestiae et dicta obcaecati sit, ut ipsum assumenda placeat, culpa magni!
    div
        h2.s-center Duros como la madera
        p.s-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptas molestiae doloremque! Illum culpa obcaecati nobis rerum? Reprehenderit distinctio molestiae et dicta obcaecati sit, ut ipsum assumenda placeat, culpa magni!
    div
        h2.s-center Precisos como la madera
        p.s-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptas molestiae doloremque! Illum culpa obcaecati nobis rerum? Reprehenderit distinctio molestiae et dicta obcaecati sit, ut ipsum assumenda placeat, culpa magni!