
//- div
//-     div.mainTitle.ed-grid
//-         //- h1.contentTitle1 Bienvenidos a WoodMen
        //- p.contentTitle2 Soluciones hechas a tu medida
div.fondo
    //- h1.main-title.s-center Bienvenidos a la madera
    h1.contentTitle1 Bienvenidos a WoodMen
    p.contentTitle2 Soluciones hechas a tu medida

div.ed-grid.s-grid-1.lg-grid-3.content 
    .lg-grid-1
        img.card(src="https://images.unsplash.com/photo-1503435980610-a51f3ddfee50?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80", alt="")
    div.lg-cross-center.lg-center
        h3 Estamos comprometidos con el ambiente 
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus blanditiis eaque ipsum velit non facere? Cum animi nisi perferendis nihil explicabo commodi aperiam id magni corporis. Quasi accusantium quas sit?
    .lg-grid-1
        img.card(src="https://images.unsplash.com/photo-1506836467174-27f1042aa48c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80", alt="")

div.ed-container.content 
    .ed-item.lg-70
        img.card(src="https://images.unsplash.com/photo-1617132926435-b05d1251553c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80", alt="")
    div.ed-item.lg-30.lg-cross-center.lg-center
        h3 Te ofrecemos los mejores muebles 
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus blanditiis eaque ipsum velit non facere? Cum animi nisi perferendis nihil explicabo commodi aperiam id magni corporis. Quasi accusantium quas sit?



div.ed-grid.rows-gap.s-grid-4.content
    div.s-rows-2
        img.card(src="https://images.unsplash.com/photo-1571205086863-9d186c5cb8fb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=333&q=80", alt="")
    div
        img.card(src="https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80", alt="")
    div.s-y-2.s-x-2.s-cols-2
        img.card(src="https://images.unsplash.com/photo-1519393890420-f28727375fa5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80", alt="")
    div
        img.card(src="https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80", alt="")
    div.s-rows-2.lg-center-lg-cross-center
        img.card(src="https://images.unsplash.com/photo-1596016743189-b9ef1d81f3dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=333&q=80", alt="")

div.ed-grid.lg-cross-center.lg-center.content.cardInformacion
    .content
        h3 Poseemos una amplia variedad de madera en todas nuestras sucursales
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus blanditiis eaque ipsum velit non facere? Cum animi nisi perferendis nihil explicabo commodi aperiam id magni corporis. Quasi accusantium quas sit?