.l-block
    #carouselExampleCaptions.carousel.slide(data-bs-ride="carousel")
        .carousel-indicators
            button(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
            button(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2")
            button(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3")
        .carousel-inner
            .carousel-item.active
                img.d-block.w-100(src="img/Carpinter.jpg" alt="")
                .carousel-caption.d-none.d-md-block
                    h5 Recios
                    p Como la madera
            .carousel-item
                img.d-block.w-100(src="img/Carpinter-1.jpg" alt="")
                .carousel-caption.d-none.d-md-block
                    h5 Duros
                    p Como la madera
            .carousel-item
                img.d-block.w-100(src="img/Carpinter-2.jpg" alt="")
                .carousel-caption.d-none.d-md-block
                    h5 Precisos
                    p Como la madera
        button.carousel-control-prev(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.visually-hidden Previous
        button.carousel-control-next(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.visually-hidden Next

