footer.text-center.text-lg-start.bg-light.text-muted
  section
    .container.text-center.text-md-start.mt-5
      .row.mt-3
        .col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4
          h6.text-uppercase.fw-bold.mb-4 WoodMen
          p Empresa de manera socialmente responsable aprobada por la FEPADE. Recuerden SOMOS LA MADERA 
        .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
          h6.text-uppercase.fw-bold.mb-4 Links Principales
          each page in pages
            p: a.text-reset(href=`${page.url}`)=page.title
        .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4
          h6.text-uppercase.fw-bold.mb-4 Contacto
          p Green Eart, Valle Loli
          p info@example.com
          p + 01 234 567 88
          p + 01 234 567 89
  .text-center.p-4.copyright
    | &copy; 2021 Copyright:
    a.text-reset.fw-bold(href='#') WoodMen.com

