address
  .contact-item
    h4 T&eacute;lefono
    p
      span.jam.jam-phone
      a(href='tel:2313253031') (+52) 231-325-3031
  .contact-item
    h4 Correo electr&oacute;nico
    p
      span.jam.jam-newsletter
      a(href='mailto:fenixfuego100@gmail.com') fenixfuego100@gmail.com
  .contact-item
    h4 Redes sociales
    .social-networks
      a(href='#')
        span.jam.jam-twitter
      a(href='#')
        span.jam.jam-facebook
      a(href='#')
        span.jam.jam-instagram
      a(href='#')
        span.jam.jam-whatsapp
  .contact-item
    h4 Direciones
    p
      span.jam.jam-map-marker
      a(href='https://goo.gl/maps/2hKymUzXZGQEBNHe6') El buen Teziutl&aacute;n
