nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container-fluid
        a.navbar-brand(href="#")
            img(src="svg/logo.svg", alt="", width="35", height="", class="d-inline-block align-text-top")
            | WoodMen
        button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
            .navbar-nav
                each page in pages
                    a.nav-link.active(href=`${page.url}`)= page.title

