@import "../../../node_modules/normalize.css/normalize.css";


/* ESTILOS BASE */
body {
  /* flex y column para colocar el contenido de la pagina en vertical */
  display: flex;
  flex-direction: column;
  /*
        La altura minima la usamos para que body se espanda todo el tamaño
        que tenga disponible, para que si hay muy poco contenido el footer no se
        suba.
  
        100vh viper height    -> el tamaño total de la altura de la pantalla del usuario
  
        Le restamos el tamaño del header ya que siempre estara el header en nuestro sitio web
        Y nos aseguramos que este del tamaño del viewport
      */
//   min-height: calc(100vh - var(--header-height));
  color: var(--text-color);
  /*
        Ya que nuestro header siempre estara en la parte de arriba, y
        para evitar que nuestro contenido  choque con el header. Cuando pones
        el espacio reservado, llegara un momento donde el contenido chocque con el header. y asi lo evitamos
      */
//   padding-top: var(--header-height);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  line-height: var(--body-line-height);
  background-color: var(--body-bg-color);
}

/* Estilos base a nuestras etiquetas HTML generales*/
a {
  color: var(--primary-color);
}

p {
  /* Para evitar el colapsado de margenes */
  margin-top: 0;
}

h1,
h2,
h3 {
  /* Para evitar el colapsado de margenes */
  margin-top: 0;
  color: var(--title-color);
  font-family: var(--title-font);
  line-height: var(--title-line-height);
  /* Para que este mas grueso que el texto normal */
  font-weight: 800;
}

/* Definición nuestras variables del tamaño de los titulos */
h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}
