- let nameForm = "example"
-
  let inputs = [
    {
      label : "Correo",
      type: "email",
      description: ""
    },
    {
      label : "Hablanos de ti",
      type: "text",
      description: "Cuentanos tus dudas o comentarios"
    }
  ]
.border-end.border-primary.border-5.s-pr-4
  form(id= nameForm)
    each input in inputs
      .mb-3
        label.form-label(for= nameForm)= input.label
        input#exampleInputEmail1.form-control(type= input.type aria-describedby='emailHelp')
        if input.description
          #email.form-text= input.description
    button.btn.btn-primary(type='submit') Enviar
