extends ../config/template
append config
    - pageTitle = "About Us"
append main
    include ../includes/navbar
    include ../includes/carousel
    h1.s-center.l-section Acerca de Nosotros
    include ../includes/aboutUs
    include ../includes/footer
