extends ../config/template
append config
    - pageTitle = "Contacto"
append main
    include ../includes/navbar
    h1.s-center.l-section.s-pt-4 ¿Quieres chambear con nosotros?
    section.ed-grid.s-grid-1.m-grid-2
        include ../components/form
        include ../includes/linksContact
    include ../includes/footer