block config
  include variables
doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(property="og:title" content=pageTitle)
    meta(property="og:description" content=pageDescription)
    link(rel="stylesheet" href="./css/styles.css")
    link(rel="shortcut icon" href=iconPath)
    link(rel="stylesheet", href="https://unpkg.com/jam-icons/css/jam.min.css")
    title=`${pageTitle}`
  body(class= `${currentPage}`)
    block main
  script(src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js") 
