- const siteName = 'WoodMen'
- let currentPage = 'Home'
- let pageTitle = 'Bienvenidos'
- let pageDescription = 'Chulada de página'
- let iconPath = 'img/shortcut.svg'
-
  let pages = [
    {
      title: 'Inicio',
      url: 'index.html',
      child: []
    },
    {
      title: 'Sobre nosotros',
      url: 'about.html',
      child: []
    },
    {
      title: 'Contacto',
      url: 'contact.html',
      child: []
    }
  ]