$primary:   #7D5036; 
$secondary: #f3c359;
$success:   #a0fcb4;
$info:      #cafeff;
$warning:   #f1e970;
$danger:    #fa8080;
$light:     #FFCD9E;
$dark:      #4A3224;

$theme-color: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
);