/*  Importación de fuentes desde Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");

/*  Importación de fuentes desde un archivo del mismo proyecto  */
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("/fonts/proxima-nova-bold.otf");
}