

// .transparent{
//     background-color: $primary;
//     position: absolute;
//     opacity: .5;
//     width: 100%;
//     height: 100vh;
// }

@mixin titlefontAngel {
    color: hsla(60, 100%, 97%, 0.877);
    // text-shadow: 2px 2px 4px black;
    // font-size: ;
}

.fondo {
    background-image: url("/public/img/backgroud.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mainTitle{
    // position: absolute;
    z-index: -10;
    // margin: 5rem 2rem 2rem 10rem;
    // padding: 5rem;
}

.contentTitle1{
    @include titlefontAngel;
    font-size: 5em;
}
.contentTitle2{
    @include titlefontAngel;
    font-size: 2em;
}

.content{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card{
    border-radius: 10px;
    // border-color: transparent;
}

.cardInformacion{
    border-radius: 10px;
    border: $dark 5px solid;
    background-color: $light;
}
