:root {
  /*  Variables del proyecto  */

  /*  Colores  */
//   --primary-color: hsl(30, 90%, 52%);
//   --primary-color-alt: hsl(30, 95%, 40%);
//   --title-color: #121f26;
//   --text-color: #676f73;
//   --body-bg-color: #fafdff;
//   --white-color: #ffffff;
//   /* Variables template */
//   --color: var(--primary-color);
//   --color-alt: var(--primary-color-alt);

  /*  Fuentes  */
  --title-font: "Proxima Nova Rg", sans-serif;
  --body-font: "Open Sans", sans-serif;

  /*  Tamaños  */
  --header-height: 3rem; /* altura del header */
  --section-spacing: 4rem; /* Separación entre secciones*/
  --block-spacing: 2rem; /*Separación entre bloques*/
  --title-line-height: 1.3; /*Alto de linea de los titulos*/
  --body-line-height: 1.6; /*alto de linea del texto del contenido*/

  /* Tamaños de fuentes */
  /*
     Es muy recomendable guardar estas variables
     To-do lo que sea sensible a tener cambios en el futuro
     y sea dificil de actualizar poco a poco, es recomendable
     meterlo en una variable
     */
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1rem;
  --big-font-size: 1rem;
  --normal-font-size: 0.875rem;
  --small-font-size: 0.75rem;
  --smaller-font-size: 0.6875rem;

  /* Capas */
  /*
      z-index es indicar que capa va arriba de otra, en el contexto del apilamiento
    */
  --z-back: -10;
  --z-normal: 1;
  --z-front: 10;
  --z-tooltip: 20;
  --z-overlay: 30;
  --z-modal: 40;
  --z-fixed: 50;
  --z-off-canvas: 100;

  /*  Anchura máxima del contenido en desktop */
  --max-width: 1200px;

  /* Otros */
  --border-radius: 0.5rem;
  --box-shadow: 0 2px 2px rgba(36, 47, 66, 0.1);
}

/* El valor de las variables pero en computadora */
/* 1024px tamaño minimo de una computadora */
@media screen and (min-width: 1024px) {
  /*  Variables de tamaño en desktop  */
  :root {
    --header-height: 6rem;
    --section-spacing: 8rem;
    --block-spacing: 4rem;

    --h1-font-size: 3rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;
    --big-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.75rem;
  }
}
